<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>麻酱社区首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
</head>
<body>
<div th:replace="nav::navbar"></div>
<div class="container-fluid m-5 bg-light h-100" >
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><i class="fa fa-windows" aria-hidden="true" style="font-size: 30px"></i>发现</h2>
            <hr>
            <ul class="list-unstyled" >
                <li class="media" th:each="question:${pagination.data}">
                    <img  th:src="${question.user.avatarUrl}" class="mr-3" width="64">
                    <div class="media-body">
                        <h5 class="mt-0">
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                        </h5>
                        <p th:text="${question.description}"></p>
                        <span>
                            <span th:text="${question.commentCount}"></span>个回复.|
                            <span th:text="${question.viewCount}"></span>次浏览.|
                            <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></span> 小时前
                        </span>
                    </div>
                </li>
            </ul>
            <nav>
                <ul class="pagination">

                    <li class="page-item" th:if="${pagination.showFirstPage}">
                        <a href="/?page=1" class="page-link">&laquo;</a>
                    </li>
                    <li class="page-item" th:if="${pagination.showPrevious}">
                         <a th:href="@{'/?page=' + ${pagination.page -1}}" class="page-link" >&lt;</a>
                    </li>
                    <li class="page-item" th:each="page:${pagination.pages}" th:classappend="${pagination.page == page}? 'active':''" >
                        <a th:href="@{'/?page=' + ${page}}" class="page-link" th:text="${page}" ></a>
                    </li>
                    <li class="page-item" th:if="${pagination.showNext}">
                        <a th:href="@{'/?page=' + ${pagination.page + 1}}" class="page-link" >&gt;</a>
                    </li>
                    <li class="page-item" th:if="${pagination.showEndPage}">
                        <a th:href="@{'/?page=' + ${pagination.toltalPage}}" class="page-link" >&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <h3>问题发起指南</h3>
        </div>
    </div>
</div>
</body>
<script src="js/jquery.min.js" type="application/javascript"></script>
<script src="js/bootstrap.bundle.min.js" type="application/javascript"></script>
<script type="application/javascript">
    window.onload(function () {
        if(window.localStorage.getItem("closeable")){
            window.close();
            window.localStorage.clear();
        }
    })
</script>
</html>