<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>麻酱社区首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <!--<span class="navbar-brand h1 mb-0">网战天下</span>-->
        <a href="#" class="navbar-brand">
            <img src="images/logo.png" class="d-inline-block align-top" style="width: 30px;height: 30px">
            <p class="d-inline-block">麻酱社区</p>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <form action="" class="form-inline ml-5">
                <input type="text" class="form-control mr-sm-2" placeholder="请输入关键字">
                <button class="btn btn-outline-success my-2 my-md-0">搜索</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link btn-primary mr-5" style="font-size: 15px">登录</a>
                </li>
                <li class="nav-item mr-5">
                    <div class="dropdown">
                        <button class="nav-link btn dropdown-toggle" data-toggle="dropdown">我</button>
                        <div class="dropdown-menu show">
                            <a href="#" class="dropdown-item">aaa</a>
                            <a href="#" class="dropdown-item">bbb</a>
                            <a href="#" class="dropdown-item">ccc</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
<script src="js/jquery.min.js" type="application/javascript"></script>
<script src="js/bootstrap.bundle.min.js" type="application/javascript"></script>

</html>