<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>麻酱社区首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
</head>
<body>
<div th:replace="nav::navbar"></div>
<div class="container-fluid">
   <div class="row">
       <div class="col-lg-9 col-md-12 col-sm-12">

       </div>
       <div class="col-lg-3 col-md-12 col-sm-12">

       </div>
   </div>
</div>

</body>
<script src="js/jquery.min.js" type="application/javascript"></script>
<script src="js/bootstrap.bundle.min.js" type="application/javascript"></script>

</html>