<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${question.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
</head>
<body>
<div th:replace="nav::navbar"></div>
<div class="container-fluid m-5 bg-light h-100" >
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h4 th:text="${question.title}"><i class="fa fa-windows" aria-hidden="true" style="font-size: 30px"></i>发现
                </h4>
                <hr>
                <span>
                作者: <span th:text="${question.user.name}"></span>
                发布时间: <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                阅读数:  <span th:text="${question.viewCount}"></span>
                </span>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p th:text="${question.description}"></p>
                </div>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <i class="fa fa-tags mr-1 mt-0 badge badge-info" aria-hidden="true"  th:each="tag:${question.tag.split(',')}" th:text="${tag}"></i>
                </div>
                <hr>
                <span th:if="${session.githubUser !=null && session.githubUser.id == question.creator}">
                     <a class="edit" th:href="@{'/publish/'+${question.id}}"><i class="fa fa-pencil-square"
                                                                                aria-hidden="true"></i>编辑</a>
                 </span>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 0px">
            <!--回复-->
            <h4>
                <span th:text="${question.commentCount}"></span>个回复
            </h4>
            <div class="col-lg-12 col-md-12 col-sm-12" th:each="comment:${comments}">
                <ul class="list-unstyled" >
                    <li class="media">
                        <img  th:src="${comment.user.avatarUrl}" class="mr-3 rounded" width="48">
                        <div class="media-body" >
                            <h6 class="mt-0">
                                <span th:text="${comment.user.name}"></span>
                            </h6>
                            <div th:text="${comment.content}"></div>
                            <div style="color: #999999">
                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                                <span style="margin-left: 8px;font-size: 15px"  data-toggle="collapse" th:data-target="${'#comment'+comment.id}" th:data-id="${comment.id}" onclick="collapseComment(this)" >
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    <span class="badge badge-secondary" th:text="${comment.commentCount}"></span>
                                </span>
                                <span class="float-right" th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd')}"></span>
                            </div>
                            <!--二级评论-->
                            <div class="collapse" th:id="${'comment'+comment.id}" >
                                <div class="card card-body" th:id="${'comment-body'+comment.id}">
                                    <!--需要动态拼接的-->
                                    <!--<div class="col-lg-12 col-md-12 col-sm-12" th:each="comment:${comments}">
                                        <ul class="list-unstyled" >
                                            <li class="media">
                                                <img  th:src="${comment.user.avatarUrl}" class="mr-3 rounded" width="48">
                                                <div class="media-body">
                                                    <h6 class="mt-0">
                                                        <span th:text="${comment.user.name}"></span>
                                                    </h6>
                                                    <div th:text="${comment.content}"></div>
                                                    <div style="color: #999999">
                                                        <span class="float-right" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd')}"></span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>-->
                                    <!--动态拼接结束-->
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" placeholder="评论一下..." th:id="${'input_'+comment.id}">
                                        <button  type="button" class="btn btn-success float-right mt-1" onclick="comment(this)" th:data-id="${comment.id}">评论</button>
                                    </div>
                                </div>
                            </div>
                            <!--二级评论结束-->
                        </div>
                    </li>
                </ul>
            </div>
            <!--回复框-->
            <hr>
            <h4>
                <span>提交回复</span>
            </h4>
            <div class="col-lg-12 col-md-12 col-sm-12" id="comment_info">

                <ul class="list-unstyled" >
                    <li class="media">
                        <img  th:src="${question.user.avatarUrl}" class="mr-3" width="64">
                        <div class="media-body">
                            <h6 class="mt-0">
                                <span th:text="${question.user.name}"></span>
                            </h6>
                        </div>
                    </li>
                </ul>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea id="comment_content" class="form-control" rows="6"></textarea>
                <button  type="button" class="btn btn-success float-right mt-1" onclick="post()">回复</button>
            </div>

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <h4>发起人</h4>
                <hr>
                <ul class="list-unstyled" >
                    <li class="media">
                        <img  th:src="${question.user.avatarUrl}" class="mr-3" width="64">
                        <div class="media-body">
                            <h6 class="mt-0">
                                <span th:text="${question.user.name}"></span>
                            </h6>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <h4>相关问题</h4>
                <ul class="list-group" style="list-style: none">
                    <li  th:each="relatedQuestion:${relatedQuestions}" class="mt-1">
                        <a th:href="@{'/question/'+${relatedQuestion.id}}" th:text="${relatedQuestion.title}" ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>
<script src="/js/community.js" type="application/javascript"></script>
<script src="/js/moment.js" type="application/javascript"></script>

</html>