<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${question.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
</head>
<body>
<div th:replace="nav::navbar"></div>
<div class="container-fluid m-5 bg-light h-100" >
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h4 th:text="${question.title}"><i class="fa fa-windows" aria-hidden="true" style="font-size: 30px"></i>发现</h4>
            <hr>
            <span>
                作者: <span th:text="${question.user.name}"></span>
                发布时间: <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                阅读数:  <span th:text="${question.viewCount}"></span>
            </span>
            <hr>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <p th:text="${question.description}"></p>
            </div>
            <hr>
            <span th:if="${session.githubUser !=null && session.githubUser.id == question.creator}">
                <a class="edit" th:href="@{'/question/'+${question.id}}"><i class="fa fa-pencil-square" aria-hidden="true"></i>编辑</a>
            </span>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <h4>发起人</h4>
                <hr>
                <ul class="list-unstyled" >
                    <li class="media">
                        <img  th:src="${question.user.avatarUrl}" class="mr-3" width="64">
                        <div class="media-body">
                            <h6 class="mt-0">
                                <span th:text="${question.user.name}"></span>
                            </h6>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <h4>相关问题</h4>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>

</html>